.img-thumbnail{
  max-height: 300px;
  width: auto;
  // filter: blur(10px);
}
.appCards{
  margin: 0;
  padding: 30px;
  // transition: all .2s ease-in-out;
}
.appCards:hover{
  // transform: scale(1.1);
}
.appCard {
  padding: 30px;
}
.row{
  margin: auto;
}
