.img-thumbnail{
  max-height: 300px;
  width: auto;
}
.appCards{
  margin: 0;
  padding: 30px;
}
.appCards:hover{
}
.appCard {
  position: relative;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
.appCard:hover img {
  transform: none;
  filter: none;
}
.appCard:hover .title {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.appCard img {
  transform: scale(1.1);
  filter: blur(2px);
}
.appCard .title {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #000;
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  transition: 0.2s cubic-bezier(0, 1, 0, 1);
}
