.docsPage{
    height: 100%;
    width: auto;
    border-top: solid black 2px;
}
.docsPage img{
    height: 100px;
    width: auto;
}
.docsPage .heading{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #000;
    color: #FFF;
}