.docsPage{
    height: 100%;
    width: auto;
    border-top: solid black 2px;
    position: relative;
}
.docsPage img{
    height: 100px;
    width: auto;
}
.docsPage .heading{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #000;
    color: #FFF;

}
.docsPage .row{
    margin: 0;
}
@media only screen and (max-width: 600px) {
  .docsPage .title{
    padding-top: 60px;
  }
  .docsPage .heading{
    font-size: 3rem;
  }
}