.featuresPageNav, .featuresPage {
  width: 100%;
  height: 100vh;
}

.featuresPageNav {
  position: sticky;
  top: 60px;
  bottom: 100px;
  margin: 0;
  margin-bottom: -100vh;
  padding: 0;
  // background-color: #FFF;
}

.featuresPageNav.scrolled {
  position: static;
}

.featuresPage {
  background: linear-gradient(to right, #F8F8F8, #CCC);
}
.featuresPage:nth-child(even) {
  background: linear-gradient(to right, #CCC, #F8F8F8);
}

.featuresPageNav .main, .featuresPage .main {
  height: 100%;
}

.featuresPageNav .main {
  padding-top: 80px;
}

.featuresPage .appGrid {
  height: 100vh;
}

.featuresPage .alert {
  height: 120px;
  margin: 0;
  border: 0;
  border-radius: 0;
  background-color: #000;
  font-weight: 400;
  color: #FFF;
}
.appCards{

}
