.featuresPageNav, .featuresPage {
  display: block;
  width: 100%;
  height: calc(100vh - 92px);
}
.featuresPageNav {
  position: sticky;
  top: 92px;
  margin: 0;
  padding: 0;
}
.featuresPageNav + .featuresPage {
  margin-top: calc(-100vh + 92px);
}
.featuresPageNav .main, .featuresPage .main {
  height: 100%;
}
.featuresPageNav {
  z-index: 1;
  pointer-events: none;
}
.featuresPageNav .heading-wrap {
  position: absolute;
  left: 0;
  right: 0;
}
.featuresPageNav .heading, .featuresPageNav .main {
  pointer-events: all;
}
.featuresPageNav .main {
  width: 30vw;
  padding: 0;
  padding-top: 92px;
}
.featuresPage .name {
  position: absolute;
  top: -92px;
}
.featuresPage .alert {
  height: 150px;
  margin: 0;
  margin-left: 30vw;
  border: 0;
  border-radius: 0;
  background-color: #000;
  font-weight: 400;
  color: #FFF;
  position: absolute;
  bottom: 0;
  // overflow-y: scroll;
}
.featuresPage .featuresRow{
  padding-left: 30vw;
}
.featuresPage {
  background: #FFF;
  position:relative;
}
.featuresPage .appCard{
}
