.footer{
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(to top, #eee, #fff);
    color: black;
    text-align: left;
}
.footer .lead{
    font-weight: lighter;
    margin-top: 12px;
    color: black;
    text-align: left;
}
.footer h3{
    text-align: left;
    padding: 10px;
}
.footer h5{
    display: inline-block;
}
.footer .emailForm{
    width: 70%;
}
.footer .copyright{
    text-align: right;
}
.footer .nameForm{
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 70%;
}
@media screen and (max-width: 1122px) {
    .footer h5 {
        visibility: hidden;
    }
}
