.newsPage {
}

.card .card-body {
  margin-top: -50px;
  height: 50px;
  background-color: #000;
  color: #FFF;
  display: flex;
  align-items: center;
}

.heading {
  float: left;
  background-color: #000;
  color: #FFF;
}
.heading::before {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  border-top: 2px solid #000;
  content: '';
}
