.newsPage .card .card-body {

  height: 50px;
  background-color: #000;
  color: #FFF;
  align-items: center;
  text-overflow: ellipsis;
}

.newsPage .card-footer {
  border-top: 0;
}

.newsPage .heading {
  float: left;
  background-color: #000;
  color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
}
.newsPage .heading::before {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  border-top: 2px solid #000;
  content: '';
}
.newsPage .row{
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
.newsPage a{
  text-decoration: none;
  color: black;
}
.newsPage a:hover{
  color: #CE2870;
}