.titlePage{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 60px;
    background: #D3959B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BFE6BA, #D3959B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
}
body{
    color: black;
}
.exokitLogo{
    text-align: center;
}
i{
    padding: 10px;
}
.titleText{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.buttonRow{
    width: 30%;
}
.display-4{
    padding-left: 50px;
    padding-right: 50px;
}
.fa-angle-down{
    padding-top: 96vh;
    color: rgba(29, 33, 36, 0.45);
}
