.titlePage{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(232deg, #654373, #02bc9f);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;

}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
body{
    color: black;
}
.exokitLogo{
    text-align: center;
}
i{
    padding: 10px;
}
.titleIconsCol{
    padding-left: 50px;
    padding-right: 50px;
}
.fa-angle-down{
    color: rgba(29, 33, 36, 0.45);
}
.arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.arrowCol{
    margin-bottom: 20vh;
}
@media only screen and (max-width: 600px) {
    .display-4 {
        font-size: 2.5em;
    }
    .titlePage{
        margin-top: -20%;
    }
    .arrowCol{
        margin-bottom: 2vh;
    }
}
.row{
    margin: 0;
}
#rightButton{
    margin-left: 10px;
}
#leftButton{
    margin-right: 10px;
}

