.titlePage{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #ce2870, #02bc9f, #098d8b);
    background-size: 700% 600%;

    -webkit-animation: titlePageGradient 10s ease infinite;
    -moz-animation: titlePageGradient 10s ease infinite;
    -o-animation: titlePageGradient 10s ease infinite;
    animation: titlePageGradient 10s ease infinite;
}

@-webkit-keyframes titlePageGradient {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@-moz-keyframes titlePageGradient {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@-o-keyframes titlePageGradient {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@keyframes titlePageGradient {
    0% {
        background-position: 4% 0%
    }
    50% {
        background-position: 97% 100%
    }
    100% {
        background-position: 4% 0%
    }

}
body{
    color: black;
}
.exokitLogo{
    text-align: center;
}
i{
    padding: 10px;
}
.titleIconsCol{
    padding-left: 50px;
    padding-right: 50px;
}
.fa-angle-down{
    color: rgba(29, 33, 36, 0.45);
}
.arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.arrowCol{
    margin-bottom: 20vh;
}
@media only screen and (max-width: 600px) {
    .display-4 {
        font-size: 2.5em;
    }
    .titlePage{
        margin-top: -20%;
    }
    .arrowCol{
        margin-bottom: 2vh;
    }
}
.row{
    margin: 0;
}
#rightButton{
    margin-left: 10px;
}
#leftButton{
    margin-right: 10px;
}

